<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51899814182-nf5pvbghktub68dd37095stpb6natmi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51899814182-nf5pvbghktub68dd37095stpb6natmi6</string>
	<key>API_KEY</key>
	<string>AIzaSyDhqQ37NQd1Z-C1e4s475sLkD5YawDzdUs</string>
	<key>GCM_SENDER_ID</key>
	<string>51899814182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pedrotrujillov.iOS-Applicant-Form</string>
	<key>PROJECT_ID</key>
	<string>iosapplicantform</string>
	<key>STORAGE_BUCKET</key>
	<string>iosapplicantform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51899814182:ios:2e3dce7fb14c6b17ebb1e7</string>
	<key>DATABASE_URL</key>
	<string>https://iosapplicantform.firebaseio.com</string>
</dict>
</plist>